<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.webexcel.DaoSys.mapper.SysBusinessStatisticsMapper">

    <resultMap id="BaseResultMap" type="com.zcy.webexcel.DaoSys.SysBusinessStatistics">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="serviceDate" column="service_date" jdbcType="DATE"/>
            <result property="problemsCount" column="problems_count" jdbcType="INTEGER"/>
            <result property="callsTime" column="calls_time" jdbcType="INTEGER"/>
            <result property="complaintTime" column="complaint_time" jdbcType="INTEGER"/>
            <result property="avgTime" column="avg_time" jdbcType="INTEGER"/>
            <result property="governedCount" column="governed_count" jdbcType="INTEGER"/>
            <result property="rectifyCount" column="rectify_count" jdbcType="INTEGER"/>
            <result property="rectifyFinishCount" column="rectify_finish_count" jdbcType="INTEGER"/>
            <result property="rectifyVisitRate" column="rectify_visit_rate" jdbcType="DECIMAL"/>
            <result property="misCount" column="mis_count" jdbcType="INTEGER"/>
            <result property="financialCount" column="financial_count" jdbcType="INTEGER"/>
            <result property="rvisitCount" column="rvisit_count" jdbcType="INTEGER"/>
            <result property="avgSatisfaction" column="avg_satisfaction" jdbcType="DECIMAL"/>
            <result property="pointCount" column="point_count" jdbcType="INTEGER"/>
            <result property="pointScore" column="point_score" jdbcType="DECIMAL"/>
            <result property="feedbackCount" column="feedback_count" jdbcType="INTEGER"/>
            <result property="crsCount" column="crs_count" jdbcType="INTEGER"/>
            <result property="avgProblems" column="avg_problems" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,service_date,problems_count,
        calls_time,complaint_time,avg_time,
        governed_count,rectify_count,rectify_finish_count,
        rectify_visit_rate,mis_count,financial_count,
        rvisit_count,avg_satisfaction,point_count,
        point_score,feedback_count,crs_count,
        avg_problems
    </sql>
</mapper>
